video {
  object-fit: cover;
  width: 200%;
  height: 100%;
  position: fixed;
  z-index: -1;
}
.sign-up{ 
     
    position: relative; 
    
     text-align:left; 
     
    
     border-bottom-color: rgb(61, 231, 27);
     width: 340px;
    margin: 60px auto 30px;
    padding: 15px;
    position: relative;

    /* Styles */
    background: #111111;
    border-radius: 10px;
    color: #0f0f0f;
    box-shadow:
        0 2px 2px rgba(116, 88, 88, 0.2),        
        0 1px 5px rgba(0,0,0,0.2),        
        0 0 0 12px rgba(12, 12, 12, 0.4); 
        border: 3px solid #37eea2;
    border-radius: 5px;
    border-color: rgb(54, 160, 247);
   
    background: linear-gradient(#f1984f, #71d5f3);
    border: 1px solid #29db32;
    color: #0e0d0d;
    text-shadow: 0 -1px rgba(10, 10, 10, 0.3);
    text-decoration: none;
   
     
      
  } 
  body{ 
   background-color: rgb(16, 17, 17);
   
  color: #0e0d0d;
   
   
   
  } 
  
  video {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
  }
 